<h4>Missed Connections</h4>

<div class="missed-connections">
  <% @missed_connections.each do |missed_connection| %>
    <p>
      <%= link_to missed_connection.title, '#', class: 'missed-connection text-center', data: { 'missed-connection-id' => missed_connection.id, 'latitude' => missed_connection.latitude, 'longitude' => missed_connection.longitude } %>
    </p>
  <% end %>
</div>
