/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flat-ui
 *= require missed_connection
 *= require messages
 *= require bootstrap-social
 *= require footer
 *= require_self
*/

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 auto;
  line-height: 24px;
}

h4, .h4 {
font-size: 25px;
color: #51C0A6;
font-weight: 500;
}

h5 {
  font-size: 20px;
}

.text-center {
  ul {
    padding-left: 0px;
  }
}

#sidebar {

  height: 100%;
  //position: absolute;
  overflow-y: scroll;
  padding: 20px 0px 40px 0px;

  #logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;

    img {
      width: 100%;
      height: 100%;
    }
  }


  .navigation {
    list-style-type: none;
    margin-bottom: 10px;
    a, p, li {
      margin: 0;
      font-size: 14px;
      padding: 7px;
      color: #51C0A6;
      display: inline;
    }
  }

  .alert {
    font-size: 14px;
    padding: 5px;
  }

  .header {
    margin-bottom: 10px;
    ul {
      padding-left: 0px;
    }
  }

  .missed-connections {
    a {
      color: #A3A2A3;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
    }

    .active {
      color: #1ABC9C;
    }
  }
}

.pagination {
  color: #51C0A6;
  a {
    color: #A3A2A3;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }
}

#map-canvas {
  //height: 300px;
  //position: absolute;
  //right: 0;
  //top: 0;
  //bottom: 0;
  overflow: hidden;
  //width: 100%;

  .gm-style-iw {
    width: 300px;
  }
}

html, body, .container-fluid, .row, .col-lg-8 { height: 100% }
