/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flat-ui
 *= require missed_connection
 *= require messages
 *= require_self
*/

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 auto;
}

#sidebar {
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  padding: 20px 40px 40px 40px;

  #logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
  }

  .navigation {
    margin-bottom: 10px;
    a, p {
      margin: 0;
      font-size: 14px;
    }
  }

  .alert {
    font-size: 14px;
    padding: 5px;
  }

  .header {
    margin-bottom: 10px;
  }

  a {
    color: #352E30;
    font-family: 'Lato', sans-serif;
    &:hover {
      color: #999999;
    }
  }

  .active {
    color: #1ABC9C;
  }
}

#map-canvas {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  .gm-style-iw {
    width: 300px;
  }
}
