.log-in {
	background-color: #fff;
	padding: 5px 25px 20px 25px;
	margin: 10px 0px 70px 10px;
	border-radius: 10px;
}

.log-in-email-field {
	border: 2px solid #C5E6E2;
	border-radius: 5px;
	text-align: center;
	color: #51C0A6;
}