// Place all the styles related to the missed_connection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.missed-connections {
	list-style-type: none;
	position: absolute;
	top: 60px;
	left: -20px;
	z-index: 99;
	text-align: left;
}

.missed-connections li {
	background-color: #fff;
	width: 360px;
	height: 50px;
	padding: 10px 0px 0px 20px;
	margin: 0px 0px 5px 0px;
	font-size: 25px;
	font-weight: bolder;
	display: table;
}

.missed-connection.body {
	font-size: 15px;
	padding: 0px 0px 20px 0px;
	margin: -10px 10px -10px 0px;
	font-weight: normal;
	line-height: 16px;
}

.missed-connection.date {
	font-size: 11px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -9px 1px;
	color: #51C0A6;
}