// Place all the styles related to the missed_connection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  margin: 0;

  a {
    margin: 0 60px 2px;
    color: #352E30;
    font-family: 'Lato', sans-serif;
  }
}

#map-canvas {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.gm-style-iw {
  width: 300px;
}

.active {
  color: #1ABC9C;
}
