.outbox {
	background-color: #fff;
	padding: 5px 25px 20px 25px;
	margin: 10px 0px 70px 10px;
	border-radius: 10px;

	strong {
		color: #16a085;
	}

	p {
		color: #51C0A6;
	}

	.panel-title {
		color: #16A085;
	}
}