<%= render 'shared/google_map', missed_connections: @missed_connections %>

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-sm-6 sidebar">
      <%= image_tag 'OHHEYLOGO.svg' %>
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>

    <div id="map-canvas" class="col-sm-6"></div>
  </div>
</div>
