<h1>Missed Connection Verification</h1>

<%= form_for :verification, url: missed_connection_verifications_path(missed_connection_id: @missed_connection.id), method: :post do |f| %>
  <%= f.label @missed_connection.question %>
  <%= f.text_field :text %>
  <br>
  <%= f.submit class: 'btn btn-primary'  %>
<% end %>
