%footer.footer
  .container
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .title
        oh hey
        <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/ohheyme?ref=badge">
        <i class="fa fa-instagram"></i>
        </a>

        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/oh_hey_me">
        <i class="fa fa-twitter"></i>
        </a>

        <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/ohheyme">
        <i class="fa fa-facebook"></i>
        </a>
