%footer.footer.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .container
    <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/ohheybushwick?ref=badge">
    <i class="fa fa-instagram"></i>
    </a>

